textarea {
    width: 100vh;
}

.form_text {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    background-color: black;
    color: white;
}

.required_form_label {
    font-weight: bold;
}

span.redcolorbox {
    background-color: red;
    color: red;
}