.table_container {
    margin: 0 auto;
    width: 80%;
}

table {
    /* display: block; */
    height: 300px;
    overflow-y: scroll;
}

#close_btn {
    float: right;
}

.canvas {
    width: 1500px;
    max-width: 1000px;
    height: 400px;
    background-color: white;
}

tr:hover {
    cursor: pointer;
}