.search_form {
    width: 25%;
    float: left;
    margin: 0 auto;
    padding-top: 2%;
    padding-left: 3%;
    border-style: solid;
    padding-right: 3%;
    max-height: 90vh;
    overflow-y: scroll;
    background-color: #e0e0e0;
    /* text-align: center; */
}

.clickable {
    cursor: pointer;
}

.results_div {
    float: right;
    margin: 0 auto;
    padding-top: 2%;
    width: 73%;
    border-width: 5;
    border-radius: 10px;
}

table {
    margin-top: 3%;
}

.text_info {
    float: left;
}

.image_box {
    float: right;
}

th {
    font-size: 0.8em;
}

td {
    text-align: center;
    max-height: 10px;
}

tr {
    line-height: 10px;
}

.plaintext {
    padding-left: -5%;
    padding-right: -5%;
    font-size: 0.8em;
    line-height: 10px;
    padding-bottom: -5%;
}