.search_form {
    width: 70%;
    margin: 0 auto;
    padding-top: 2%;
    /* text-align: center; */
}

.clickable {
    cursor: pointer;
}

.results_div {
    margin: 0 auto;
    width: 90%;
    height: 230px;
    overflow-y: scroll;
    border-radius: 10px;
}

table {
    margin-top: 3%;
}

.text_info {
    float: left;
}

.image_box {
    float: right;
}

th {
    font-size: 0.8em;
}

td {
    text-align: center;
    max-height: 10px;
}

tr {
    line-height: 10px;
}

.plaintext {
    padding-left: -5%;
    padding-right: -5%;
    font-size: 0.8em;
    line-height: 10px;
    padding-bottom: -5%;
}